# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# build outputs
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# editors
.vscode/

# misc
*.local
